@font-face {
  font-family: "iconfont"; /* Project id 2585167 */
  src: url('iconfont.woff2?t=1623910973969') format('woff2'),
       url('iconfont.woff?t=1623910973969') format('woff'),
       url('iconfont.ttf?t=1623910973969') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notice:before {
  content: "\e60c";
}

.icon-rule:before {
  content: "\e657";
}

.icon-questionBank:before {
  content: "\e60d";
}

.icon-question:before {
  content: "\e684";
}

.icon-paper:before {
  content: "\e601";
}

.icon-register:before {
  content: "\e750";
}

.icon-category:before {
  content: "\e600";
}

.icon-examSite:before {
  content: "\e635";
}

.icon-system:before {
  content: "\e67c";
}

.icon-role:before {
  content: "\e62d";
}

.icon-power:before {
  content: "\e6c8";
}

.icon-account:before {
  content: "\e607";
}

