<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curator.backend.info.power.mapper.InfoRolePowerGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.curator.backend.info.power.entity.InfoRolePowerGroup">
        <id column="role_power_id" property="rolePowerId" />
        <result column="role_id" property="roleId" />
        <result column="power_group_id" property="powerGroupId" />
        <result column="create_account_id" property="createAccountId" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
