<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curator.backend.info.role.mapper.InfoRoleMenuGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.curator.backend.info.role.entity.InfoRoleMenuGroup">
        <id column="role_menu_id" property="roleMenuId" />
        <result column="role_id" property="roleId" />
        <result column="menu_group_id" property="menuGroupId" />
        <result column="create_account_id" property="createAccountId" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
