<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curator.backend.register.exam.register.mapper.ExamRegisterInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.curator.backend.register.exam.register.entity.ExamRegisterInfo">
        <id column="exam_register_info_id" property="examRegisterInfoId" />
        <result column="exam_category_id" property="examCategoryId" />
        <result column="exam_subject_id" property="examSubjectId" />
        <result column="exam_site_id" property="examSiteId" />
        <result column="exam_classroom_id" property="examClassroomId" />
        <result column="seat_number" property="seatNumber" />
        <result column="exam_password" property="examPassword" />
        <result column="account_id" property="accountId" />
        <result column="account_name" property="accountName" />
        <result column="exam_status" property="examStatus" />
        <result column="admission_number" property="admissionNumber" />
        <result column="start_time" property="startTime" />
        <result column="score" property="score" />
        <result column="is_passed" property="passed" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <update id="batchUpdateExamPassword">
        update exam_register_info set exam_password = #{examPassword}, update_time = #{now}
        WHERE exam_register_info_id in
        <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="batchAssignClassroom">
        update exam_register_info
        <trim prefix="set" suffixOverrides=",">
            update_time = #{now},
            <trim prefix="exam_classroom_id =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                        when exam_register_info_id=#{item.examRegisterInfoId}
                        then #{item.examClassroomId}
                </foreach>
            </trim>
            <trim prefix="seat_number =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                        when exam_register_info_id=#{item.examRegisterInfoId}
                        then #{item.seatNumber}
                </foreach>
            </trim>
            <trim prefix="admission_number =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when exam_register_info_id=#{item.examRegisterInfoId}
                    then #{item.admissionNumber}
                </foreach>
            </trim>
        </trim>
        where exam_register_info_id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.examRegisterInfoId}
        </foreach>
    </update>
    <update id="updateExamStatusAndScoreAndPassed">
         update exam_register_info set exam_status = 0, score = 0, is_passed = 0 , update_time = #{now}
         where exam_register_info_id = #{examRegisterInfoId}
    </update>
    <update id="resetExamRegisterInfo">
        update exam_register_info set exam_classroom_id = null , admission_number = null, seat_number = null
        where exam_register_info_id in
        <foreach collection="idList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

</mapper>
