<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curator.backend.paper.generation.rule.mapper.PaperGenerationRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.curator.backend.paper.generation.rule.entity.PaperGenerationRule">
        <id column="generation_rule_id" property="generationRuleId" />
        <result column="question_bank_id" property="questionBankId" />
        <result column="generation_rule_name" property="generationRuleName" />
        <result column="test_paper_point" property="testPaperPoint" />
        <result column="summary" property="summary" />
        <result column="create_account_id" property="createAccountId" />
        <result column="parent_account_id" property="parentAccountId" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <select id="selectQuestionBankName" resultType="java.lang.String">
        select question_bank_name from question_bank where question_bank_id = #{questionBankId}
    </select>

</mapper>
