<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curator.backend.info.role.mapper.InfoRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.curator.backend.info.role.entity.InfoRole">
        <id column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="role_status" property="roleStatus" />
        <result column="role_type" property="roleType" />
        <result column="role_remark" property="roleRemark" />
        <result column="create_account_id" property="createAccountId" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <select id="getAccountRoleType" resultType="java.lang.Integer">
        select role_type from info_account where account_id = #{accountId}
    </select>
    <select id="getPowerGroupIdWithRole" resultType="java.lang.String">
        select power_group_id from info_role_power_group where role_id = #{roleId} and is_deleted = 0
    </select>

</mapper>
